{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div class="header-top-area">
            <div class="header-list-area">
                <ul class="info">
                    <li><a href="mailto:Info@CreditBoostSolutions.com">
                        <img src="{% static 'img/icons/mail2.svg' %}" alt="Email"> info@CreditBoostSolutions.com</a><span> | </span></li>
                    <li><a href="https://goo.gl/maps/your-location-link" target="_blank">
                        <img src="{% static 'img/icons/location2.svg' %}" alt="Location"> 105 Maxxes Rd, Suite 124, Melville, NY 11747</a><span> | </span></li>
                    <li><a href="tel:+18005963878">
                        <img src="{% static 'img/icons/phone2.svg' %}" alt="Phone"> Call Now: 800-596-3878</a></li>
                </ul>

                <ul class="social">
                    <li><a href="https://www.facebook.com/your-facebook-page" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.instagram.com/your-instagram-handle" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/your-youtube-channel" class="m-0" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="space20 d-lg-block d-none"></div>
    </div>
</div>
